body{
	background-color: #f8f8f8;
}
.logo{
	height: 50px;
	 width: auto;
}
.navbar-brand{
	padding-top: 1px;
}
.panel-default{
	margin-left: 10px;
	margin-right: 10px;
}
.alert{
	margin-left: 10px;
	margin-right: 10px;
}
.mi-link-titulo{
float: left;
padding-top: 2px;
}
.mi-link-panel{
float: right;
padding: 0px;
}