<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org"
	xmlns:layout="http//ultraq.net.nz/thymeleaf/layout">
		<head>
		    <meta charset="UTF-8">
		    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		   	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
		    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
		    <title>Cobranças</title>
		</head>
	<body>

	<header layout:include="cabecalho"></header>
    <section layout:fragment="conteudo">
    	<p>conteudo principal</p>
    </section>
    
    <script src="/js/bootstrap.min.js"></script>
		<script src="https://code.jquery.com/jquery-2.2.4.min.js" 
			integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" 
			crossorigin="anonymous">
		</script>
	</body>
</html>